---
import Layout from '../layouts/Layout.astro';
import GaleryCard from '../components/GaleryCard.astro';
import VideoCard from '../components/VideoCard.astro';


// let fotos = [];

// const response = await fetch('https://backend-mdb-production.up.railway.app/fotos');
// if (response.ok) {
//   fotos = await response.json();
// }

// async function getFotos() {
//       const response = await fetch('http://localhost:3000/fotos');
//       const fotos = await response.json();
      
//       const fotosContainer = document.getElementById('fotos-container');
//       fotosContainer.innerHTML = '';

//       fotos.array.forEach(foto => {
//         const fotoHTML = `<GaleryCard title="${foto.title}" author="${foto.author}" link="${foto.link}"/>`;
        
//         fotosContainer.insertAdjacentHTML('beforeend', fotoHTML);
//       });
//     }
    
//     getFotos();
---

<Layout title="Galeria">
    <main>
        <h1 class="pt-2 bg-gradient-to-r from-blue-600 to-indigo-400 text-transparent bg-clip-text drop-shadow-[0_2px_1px_rgba(255,255,255,0.12)] text-center title">GALERÍA</h1>
        <div id="fotos-container" class="grid-container">
            <GaleryCard title="" url="https://media.discordapp.net/attachments/1031376790742122566/1294705432081989653/image.png?ex=671141e5&is=670ff065&hm=a02566933af66c3b6c401583808cf48a2e9e8a2ffe025ba053b8c9d3e7051338&=&format=webp&quality=lossless&width=1193&height=671" descripcion="Sr. Naranja - 12/10/2024" />
            <GaleryCard title="" url="https://media.discordapp.net/attachments/1031376790742122566/1295855672214425600/image.png?ex=67117ca4&is=67102b24&hm=baf3915323745fc05a7e4c82c38126ad1cbadd256d2cf3b9873033d583575b15&=&format=webp&quality=lossless&width=1440&height=565" descripcion="bardxro - 15/10/2024" />
            <GaleryCard title="" url="https://media.discordapp.net/attachments/1031376790742122566/1296239263930781810/image.png?ex=67119063&is=67103ee3&hm=52a2796af0f55f73cbe515679d34aef5fe8f3f1a0bd7514806137f5b90ca675f&=&format=webp&quality=lossless&width=1193&height=671" descripcion="Sr. Naranja - 16/10/2024" />
        </div>
    </main>
</Layout>


<style>

    main
    {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .grid-container {
        display: grid;
        margin: 0rem 10rem;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.75rem;
        grid-auto-flow: dense;
        margin-bottom: 120px;
    }
    
    @media (max-width: 1400px) {
        .grid-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (max-width: 1068px) {
        .grid-container {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    
    
    .title {
        padding: 0px 0px 3rem 0px;
        font-size: 5rem;
        font-weight: bolder;
		letter-spacing: 0.75rem;
		background: -webkit-linear-gradient(45deg, #4e0e28, #ef3737);
		-webkit-background-clip: text; /* Doesn't work on IE*/
        -moz-background-clip: text;
        background-clip: text;
		-webkit-text-fill-color: transparent;
		text-shadow: -0.2vw -0.2vw 0px rgb(255, 255, 255);
	}
    @media (max-width: 420px) {
        .title {
            font-size: 3rem;
        }
    }
</style>
