---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import VideoCard from '../components/VideoCard.astro';
---

<Layout title="	MDB Roleplay...">
	
	<main>
		<div class="container-main mx-auto p-4">
			<h1 class="pt-2 bg-gradient-to-r from-blue-600 to-indigo-400 text-transparent bg-clip-text drop-shadow-[0_2px_1px_rgba(255,255,255,0.12)] text-center">MDB COMEBACK</h1>
			<div class="container-header">
				<h2><span class="font-semibold bg-gradient-to-r from-orange-600 to-yellow-200 text-transparent bg-clip-text">Cuenta regresiva</span>⏰</h2>
			</div>
			<div class="container-body grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4 w-full">
				<Card title="Dias" tiempo="dia" />
				<Card title="Horas" tiempo="hora" />
				<Card title="Minutos" tiempo="minutos" />
				<Card title="Segundos" tiempo="segundos" />
			</div>
			<p>¡Servidor Abierto! 🟢</p>
			
		</div>
		<section id="galeria" class="section-galeria">
			<div class="container-main mx-auto p-4">
				<h1 class="pt-2 bg-gradient-to-r from-blue-600 to-indigo-200 text-transparent bg-clip-text drop-shadow-[0_2px_1px_rgba(255,255,255,0.12)] text-center">VIDEOS MDB</h1>
				<div class="video-container">
					<VideoCard title="Escapando De La Policía En MDB Crew Roleplay" logo="https://yt3.ggpht.com/ytc/AIdro_mhj5gdbzZmgEMsTHpequcVzTC1DJbdsfYdlK3SL5cR5Go=s88-c-k-c0x00ffffff-no-rj" link="https://www.youtube.com/embed/ZWuRX1Lp8oc?si=4QmwbzTmkgem28rf" channel='Kidd Gabo'/>
					<VideoCard title="TEASER #2 | MDB CREW | ROLEPLAY LIFE 👾" logo="https://yt3.ggpht.com/aELNTUaDUusWTNz_20Hd3kJ-CVYk-WGRfe-52LZcGZAES1QIIv8VqfpS23cRYMGj3rBcU0Ij9f0=s88-c-k-c0x00ffffff-no-rj" link="https://www.youtube.com/embed/VbxhskTttZ4?si=TDLtgT32IvSnjT7W" channel='MDB Roleplay'/>
					<VideoCard title="TEASER #1 | MDB CREW | ROLEPLAY LIFE 👾" logo="https://yt3.ggpht.com/aELNTUaDUusWTNz_20Hd3kJ-CVYk-WGRfe-52LZcGZAES1QIIv8VqfpS23cRYMGj3rBcU0Ij9f0=s88-c-k-c0x00ffffff-no-rj" link="https://www.youtube.com/embed/_4NbxYHPfsA?si=IaodHHSy4Gg9sd3h" channel='MDB Roleplay'/>
					
				</div>
			</div>
		</section>
	</main>
</Layout>

<style>

	.container-header h2{
		font-size: 3rem;
		font-family: 'roboto', 'sans-serif';
	}
	main {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		/* justify-content: center; */
		align-items: center;
	}

	h1 {
		padding: 0px 0px 1.25rem 0px;
		letter-spacing: 0.75rem;
		background: -webkit-linear-gradient(45deg, #151775, #3762ef);
		-webkit-background-clip: text; /* Doesn't work on IE*/
			-moz-background-clip: text;
				background-clip: text;
		-webkit-text-fill-color: transparent;
		text-shadow: -0.2vw -0.2vw 1px rgb(255, 255, 255, 1);
	}

	.section-galeria h1 {
		letter-spacing: 0.75rem;
		background: -webkit-linear-gradient(45deg, #f4b942, #ef3737);
		-webkit-background-clip: text; /* Doesn't work on IE*/
			-moz-background-clip: text;
				background-clip: text;
		-webkit-text-fill-color: transparent;
		text-shadow: -0.2vw -0.2vw 0 rgb(255, 255, 255);
	}

	.container-header h2 {
		padding: 0px 0px 1.25rem 0px;
	}

	.container-main p {
		padding-top: 1rem;
		color: aliceblue;
		font-size: 2.25rem;
		font-weight: 500;
	}
	.container-main {
		padding-top: 8rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center; 
	}

	.container-body {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	
	main h1 {
		font-size: 5.8rem;
		font-family: "Roboto Mono", monospace;
		font-weight: bolder;
	}
	
	.section-galeria {
		padding-top: 1rem;
		background-color: #13151a;
	}
	.section-galeria h1 {
		font-size: 2.75rem;
	}
	
	.video-container {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.video-container iframe {
		width: 100%; /* Los iframes ocupan el 100% del contenedor */
		max-width: 480px; /* Máximo ancho en pantallas grandes */
		height: auto;
		aspect-ratio: 16 / 9; /* Mantiene la proporción 16:9 */
	}
	
	@media screen and (max-width: 768px) {
		.video-container iframe {
			max-width: 100%; /* En pantallas pequeñas, ocupa todo el ancho disponible */
		}
	}

	@media screen and (max-width: 700px) {
		.container-body {
			flex-direction: column;
		}

		html {
			width: 100vh;
		}

		.video-container {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			justify-content: center;
			align-items: center;
		}

		.video-container iframe {
			max-width: 100%; /* Evita que los videos sean demasiado pequeños */
		}
	}
</style>

<script>
	// Set the date we're counting down to
	var countDownDate = new Date("Oct 12, 2024 12:00:00").getTime();
	
	// Update the count down every 1 second
	var x = setInterval(function() {
	
	  // Get today's date and time
	  var now = new Date().getTime();
	
	  // Find the distance between now and the count down date
	  var distance = countDownDate - now;
	
	  // Time calculations for days, hours, minutes and seconds
	  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
	  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
	  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
	  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
	
	  // Display the result in the element with id="demo"
	//   document.getElementById("demo").innerHTML = days + "d " + hours + "h "
	//   + minutes + "m " + seconds + "s ";

	  document.getElementById("dia").innerHTML = days.toString();
	  document.getElementById("hora").innerHTML = hours.toString();
	  document.getElementById("minutos").innerHTML = minutes.toString();
	  document.getElementById("segundos").innerHTML = seconds.toString();
	
	  // If the count down is finished, write some text
	  if (distance < 0) {
		clearInterval(x);
		document.getElementById("dia").innerHTML = "0d";
      	document.getElementById("hora").innerHTML = "0h";
      	document.getElementById("minutos").innerHTML = "0m";
      	document.getElementById("segundos").innerHTML = "0s";
	  }
	}, 1000);
</script>