---
interface Props {
	title: string;
	tiempo: string;

}

const {title, tiempo } = Astro.props;
---

<div class={`block max-w-sm p-6	 rounded-lg shadow bg-gray-800 border-gray-700 hover:bg-gray-700 mx-1 lg:w-1/4`}>
	
	<p id={tiempo} class="font-normal text-gray-400 dark:text-gray-400"></p>
	<h5 class="mb-2 text-xl font-semibold tracking-tight text-white">{title}</h5>
</div>

<style>
p {
	font-size: 2rem;
	font-family: 'roboto', 'sans-serif';
}	
</style>
